version: "3.8"

services:
  turbocar-api: 
    container_name: turbocar-api
    restart: always 
    image: node:20.10.0
    ports:
      - "4001:3008"
    volumes:
      - ./:/usr/src/turbocar
      - /usr/src/turbocar/node_modules
    working_dir: /usr/src/turbocar
    networks:
      - monorepo-network
    command: bash -c "npm ci && npm run build:api && NODE_ENV=production npm run start:prod"

  turbocar-batch:
    container_name: turbocar-batch
    restart: unless-stopped
    image: node:20.10.0
    ports:
      - "4002:3009"
    volumes:
      - ./:/usr/src/turbocar
      - /usr/src/turbocar/node_modules
    working_dir: /usr/src/turbocar
    networks:
      - monorepo-network
    command: bash -c "npm ci && npm run build:batch && NODE_ENV=production npm run start:prod:batch"

networks:
  monorepo-network:
    driver: bridge



# turbocar-next: localhost:4000 <==> container:3000
# turbocar-api: localhost:4001 <==> container:3008
# turbocar-batch: localhost:4002 <==> container:3009